.container {
  margin: auto;

  &--1 {
    max-width: 121.6rem;

    @media screen and (max-width: $large) {
      max-width: 88vw;
    }
  }

  &--2 {
    max-width: 150rem;

    @media screen and (max-width: $x-large) {
      max-width: 88vw;
    }
  }
}
