$black--1: rgb(31, 41, 55);
$black--2: rgb(75 85 99);
$black--3: rgb(55, 65, 81);
$white--1: white;
$white--2: rgb(243, 244, 246);
$white--3: rgb(249, 250, 251);
$white--4: rgb(240, 249, 255);
$green--1: rgb(13, 148, 136);
$green--2: rgb(15, 118, 110);
$green--3: rgb(204, 251, 241);
