<div class="choose-us-comp">
  <div class="container container--1">
    <div class="choose-us-comp__text-box">
      <h2 class="heading heading--2">Why Choose Us?</h2>
      <p class="paragraph paragraph--2">
        We combine expertise, advanced technology, and personalized service to
        deliver exceptional mould removal results.
      </p>
    </div>
    <ul class="choose-us-comp__reason-list">
      <li class="reason">
        <div class="reason__logo">
          <i class="fa-solid fa-shield-virus"></i>
        </div>
        <div class="reason__heading heading heading--3">Certified Experts</div>
        <div class="paragraph paragraph--2">
          Our team is certified in mould remediation with years of experience
          handling all types of mould problems.
        </div>
      </li>
      <li class="reason">
        <div class="reason__logo">
          <i class="fa-solid fa-flask"></i>
        </div>
        <div class="reason__heading heading heading--3">
          Advanced Technology
        </div>
        <div class="paragraph paragraph--2">
          We use state-of-the-art equipment and eco-friendly solutions to
          effectively eliminate mould.
        </div>
      </li>
      <li class="reason">
        <div class="reason__logo">
          <i class="fa-solid fa-thumbs-up"></i>
        </div>
        <div class="reason__heading heading heading--3">100% Satisfaction</div>
        <div class="paragraph paragraph--2">
          We guarantee our work with a comprehensive warranty and follow-up
          inspections.
        </div>
      </li>
    </ul>
  </div>
  <div class="container container--2">
    <div class="choose-us-comp__showcase-box">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem class="showcase">
          <app-image-compare
            [beforeUrl]="'images/mould-pictures/1--before.jpg'"
            [afterUrl]="'images/mould-pictures/1--after.jpg'"
          ></app-image-compare>
        </div>
        <div ngxSlickItem class="showcase">
          <app-image-compare
            [beforeUrl]="'images/mould-pictures/2--before.jpg'"
            [afterUrl]="'images/mould-pictures/2--after.jpg'"
          ></app-image-compare>
        </div>
        <div ngxSlickItem class="showcase">
          <app-image-compare
            [beforeUrl]="'images/mould-pictures/3--before.jpg'"
            [afterUrl]="'images/mould-pictures/3--after.jpg'"
          ></app-image-compare>
        </div>
        <div ngxSlickItem class="showcase">
          <app-image-compare
            [beforeUrl]="'images/mould-pictures/4--before.jpg'"
            [afterUrl]="'images/mould-pictures/4--after.jpg'"
          ></app-image-compare>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
