<div id="main-banner-section" class="main-banner-comp">
  <img
    class="main-banner-comp__banner-background--desktop"
    src="/images/main-banner-bg.png"
    alt="Mould Main Banner - Desktop"
  />

  <div class="main-banner-comp__banner-background--mobile">
    <img
      id="banner-mobile"
      src="/images/banner-mobile.jpg"
      alt="Mould Main Banner - Mobile"
    />
  </div>

  <div class="text-box">
    <div class="text-box__container">
      <div class="text-box__header">
        <h1 class="heading heading--1">
          Construction <br />
          <span class="green-text">Mould Remediation </span>
        </h1>
        <p class="paragraph paragraph--1">
          Breathe easier with our expert mould remediation services. We
          identify, remove, and prevent mould growth to keep your home healthy
          and safe.
        </p>
        <div class="text-box__footer">
          <a href="#contact-us-section" class="btn btn--1 btn--1--2">
            Free Consultation
          </a>
          <a href="#our-services-section" class="btn btn--2">Our Services</a>
        </div>
      </div>
    </div>
  </div>
</div>
