<div id="main-banner-section" class="main-banner-comp">
  <div class="container container--2">
    <div class="main-banner-comp__body">
      <div class="main-banner-comp__text-box">
        <h1 class="heading heading--1">
          Construction <span class="text-green">Mould Remediation </span>
        </h1>
        <p class="paragraph paragraph--1 mb-2">
          Breathe easier with our expert mould remediation services. We
          identify, remove, and prevent mould growth to keep your home healthy
          and safe.
        </p>
        <div class="main-banner-comp__text-box__button-container">
          <a href="#contact-us-section" class="btn btn--1 btn--1--2">
            Free Consultation
          </a>
          <a href="#our-services-section" class="btn btn--2">Our Services</a>
        </div>
      </div>
      <div class="main-banner-comp__img-box"></div>
    </div>
  </div>
</div>
