<div class="ready-comp">
  <div class="container container--1">
    <div class="ready-comp__box">
      <div class="paragraph paragraph--3 ready-comp__box__description">
        <h2 class="heading heading--5">Ready to Breathe Easier?</h2>
        Don't let mould affect your health and property. Contact us today for a
        free consultation and take the first step towards a mould-free
        environment.
      </div>
      <a href="a" class="btn btn--3">Get Your Free Consultation</a>
    </div>
  </div>
</div>
