<div class="footer-comp">
  <div class="container container--1">
    <div class="footer-comp__body">
      <div class="footer-comp__body__logo-box">
        <div class="logo-container">
          <img class="footer-logo" src="/images/mould-logo.png" alt="logo" />
        </div>
        <p class="paragraph paragraph--5">
          Professional mould removal services for residential and commercial
          properties.

          <img src="" alt="" />
        </p>
        <p class="paragraph paragraph--5">
          © {{ today.getFullYear() }} MOULD REMEDIATION <br />Mould Removal. All
          rights reserved.
        </p>
      </div>
      <div class="footer-comp__body__quick-links">
        <h2 class="heading heading--7">Quick Links</h2>
        <ul class="links-list">
          <li class="link-item">
            <a href="#" class="paragraph paragraph--5">Home</a>
          </li>
          <li class="link-item">
            <a href="#our-services-section" class="paragraph paragraph--5"
              >Services</a
            >
          </li>
          <li class="link-item">
            <a href="#about-us-section" class="paragraph paragraph--5"
              >Our Process</a
            >
          </li>
          <li class="link-item">
            <a href="#our-clients-section" class="paragraph paragraph--5"
              >Testimonials</a
            >
          </li>
          <li class="link-item">
            <a href="#contact-us-section" class="paragraph paragraph--5"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-comp__body__newsletter">
        <h2 class="heading heading--7">Newsletter</h2>
        <p class="paragraph paragraph--5">
          Subscribe to our newsletter for tips on mould prevention and special
          offers.
        </p>
        <p class="paragraph paragraph--5" *ngIf="isSubscribed === true">
          Thanks for your subscription!
        </p>
        <form [formGroup]="emailNewsForm" *ngIf="isSubscribed === false">
          <input
            class="newsletter-input"
            formControlName="emailNews"
            placeholder="Your email address"
            type="text"
          />
          <button
            type="submit"
            class="btn btn--1"
            [disabled]="emailNewsForm.invalid"
            (click)="onSendEmail()"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
