<div class="footer-comp">
  <div class="container container--1">
    <div class="footer-comp__body">
      <div class="footer-comp__body__logo">
        <img src="images\MR2.png" alt="logo" />
        <p class="paragraph paragraph--5">
          Professional mould removal services for residential and commercial
          properties.
        </p>
        <p class="paragraph paragraph--5">
          © {{ today.getFullYear() }} MOULD REMEDIATION <br />Mould Removal. All
          rights reserved.
        </p>
      </div>
      <div class="footer-comp__body__quick-links">
        <h2 class="heading heading--7">Quick Links</h2>
        <ul class="links-list">
          <li class="link-item">
            <a href="#" class="paragraph paragraph--5">Home</a>
          </li>
          <li class="link-item">
            <a href="#our-services-section" class="paragraph paragraph--5"
              >Services</a
            >
          </li>
          <li class="link-item">
            <a href="#about-us-section" class="paragraph paragraph--5"
              >Our Process</a
            >
          </li>
          <li class="link-item">
            <a href="#our-clients-section" class="paragraph paragraph--5"
              >Testimonials</a
            >
          </li>
          <li class="link-item">
            <a href="#contact-us-section" class="paragraph paragraph--5"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-comp__body__services">
        <h2 class="heading heading--7">Services</h2>
        <ul class="links-list">
          <li class="link-item">
            <a href="#our-services-section" class="paragraph paragraph--5">
              Residential Mould Removal
            </a>
          </li>
          <li class="link-item">
            <a href="#our-services-section" class="paragraph paragraph--5">
              Commercial Mould Remediation
            </a>
          </li>
          <li class="link-item">
            <a href="#our-services-section" class="paragraph paragraph--5">
              Mould Testing & Inspection
            </a>
          </li>
          <li class="link-item">
            <a href="#our-services-section" class="paragraph paragraph--5">
              Water Damage Restoration
            </a>
          </li>
          <li class="link-item">
            <a href="#our-services-section" class="paragraph paragraph--5">
              Preventative Maintenance
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-comp__body__newsletter">
        <h2 class="heading heading--7">Newsletter</h2>
        <p class="paragraph paragraph--5">
          Subscribe to our newsletter for tips on mould prevention and special
          offers.
        </p>
        <form [formGroup]="emailNewsForm">
          <input
            class="newsletter-input"
            formControlName="emailNews"
            placeholder="Your email address"
            type="text"
          />
        </form>

        <button
          type="button"
          class="btn btn--1"
          [disabled]="emailNewsForm.invalid"
          (click)="onSendEmail()"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
