<div class="top-menu-comp">
  <div class="container container--1">
    <div class="top-menu-comp__body">
      <div class="logo-box">
        <img src="" alt="Logo" />
      </div>
      <ul class="menu-box">
        <li class="menu-box__item">
          <a href="#">Home</a>
        </li>
        <li class="menu-box__item">
          <a href="#">Services</a>
        </li>
        <li class="menu-box__item">
          <a href="#">About</a>
        </li>
        <li class="menu-box__item">
          <a href="#">Testimonials</a>
        </li>
        <li class="menu-box__item">
          <a href="#" class="btn btn--1 btn--small"> Contact Us </a>
        </li>
      </ul>

      <!-- <div class="menu-box">
        <div class="menu-box btn--3">Home</div>
        <div class="menu-box btn--3">Services</div>
        <div class="menu-box btn--3">About</div>
        <div class="menu-box btn--3">Tesitimonials</div>
        <div class="menu-box btn btn--1 btn--1-2">Contact Us</div>
      </div> -->
    </div>
  </div>
</div>
