<div id="contact-us-section" class="contact-us-comp">
  <div class="container container--1">
    <div class="contact-us-comp__body">
      <div class="contact-us-comp__heading">
        <h2 class="heading heading--2">Contact Us</h2>
        <p class="paragraph paragraph--2">
          Have questions or ready to schedule a consultation? Reach out to our
          team today.
        </p>
      </div>
      <div class="contact-us-comp__information">
        <div class="fill-form">
          <div class="fill-form__body">
            <h3 class="heading heading--3">
              <span *ngIf="!isSubmitted">Send Us a Message</span>
              <span *ngIf="isSubmitted">Submission Complete</span>
            </h3>
            <form [formGroup]="enquiryForm" *ngIf="!isSubmitted">
              <ul class="fill-form__list">
                <li class="fill-item">
                  <div class="fill-item__description">Your Name</div>
                  <input
                    class="fill-item__input-box"
                    type="text"
                    formControlName="name"
                  />
                </li>
                <li class="fill-item">
                  <div class="fill-item__description">Email Address</div>
                  <input
                    class="fill-item__input-box"
                    type="text"
                    formControlName="email"
                  />
                </li>
                <li class="fill-item">
                  <div class="fill-item__description">Phone Number</div>
                  <input
                    class="fill-item__input-box"
                    type="text"
                    formControlName="phone"
                  />
                </li>
                <li class="fill-item">
                  <div class="fill-item__description">Service Needed</div>
                  <select
                    class="fill-item__input-box select-option"
                    type="text"
                    formControlName="service"
                  >
                    <option [value]="null">Select a service</option>
                    <option [value]="'Residential Mould Removal'">
                      Residential Mould Removal
                    </option>
                    <option [value]="'Commercial Mould Remediation'">
                      Commercial Mould Remediation
                    </option>
                    <option [value]="'Mould Testing & Inspection'">
                      Mould Testing & Inspection
                    </option>
                    <option [value]="'Water Damage Restoration'">
                      Water Damage Restoration
                    </option>
                    <option [value]="'Preventative Maintenance'">
                      Preventative Maintenance
                    </option>
                    <option [value]="'Other'">Other</option>
                  </select>
                </li>
                <li class="fill-item">
                  <div class="fill-item__description">Your Message</div>
                  <textarea
                    class="fill-item__input-box"
                    type="text"
                    formControlName="message"
                  ></textarea>
                </li>
              </ul>
              <button
                type="submit"
                class="btn btn--1"
                [disabled]="enquiryForm.invalid || isSubmitting"
                (click)="onSendMessage()"
              >
                <span *ngIf="!isSubmitting">Send Message</span>
                <span *ngIf="isSubmitting">
                  <i class="fa-solid fa-spinner fa-spin"></i>
                </span>
              </button>
            </form>
            <p *ngIf="isSubmitted" class="paragraph paragraph--1">
              Thank you for reaching out! Our team will contact you as soon as
              possible.
            </p>
          </div>
        </div>
        <div class="contact">
          <div class="contact__information">
            <h3 class="heading heading--3">Contact Information</h3>
            <ul class="contact__information__list">
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-phone"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Phone</h3>
                  <p class="paragraph paragraph--2">0425 987 111</p>
                </div>
              </li>
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Email</h3>
                  <p class="paragraph paragraph--2">
                    admin&#64;mouldremediation.com.au
                  </p>
                </div>
              </li>
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Address</h3>
                  <p class="paragraph paragraph--2">We cover Australia Wide</p>
                </div>
              </li>
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-clock"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Business Hours</h3>
                  <p class="paragraph paragraph--2">
                    Monday - Friday: <br />
                    9:00 AM - 5:00 PM
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="contact__emergency">
            <h3 class="heading heading--3">Emergency Service</h3>
            <p class="paragraph paragraph--2">
              Mould or water damage emergency? We offer 24/7 emergency response
              services.
            </p>
            <h3 class="heading heading--3 green-text">
              <i class="fa-solid fa-phone"></i>0425 987 111
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
