<div class="contact-us-comp">
  <div class="container container--1">
    <div class="contact-us-comp__body">
      <div class="contact-us-comp__heading">
        <h2 class="heading heading--2">Contact Us</h2>
        <p class="paragraph paragraph--2">
          Have questions or ready to schedule a consultation? Reach out to our
          team today.
        </p>
      </div>
      <div class="contact-us-comp__information">
        <div class="fill-form">
          <div class="fill-form__body">
            <h3 class="heading heading--3">Send Us a Message</h3>
            <ul class="fill-form__list">
              <li class="fill-item">
                <div class="fill-item__description">Your Name</div>
                <input class="fill-item__input-box" type="text" />
              </li>
              <li class="fill-item">
                <div class="fill-item__description">Email Address</div>
                <input class="fill-item__input-box" type="text" />
              </li>
              <li class="fill-item">
                <div class="fill-item__description">Phone Number</div>
                <input class="fill-item__input-box" type="text" />
              </li>
              <li class="fill-item">
                <div class="fill-item__description">Service Needed</div>
                <select class="fill-item__input-box select-option" type="text">
                  <option value="">Select a service</option>
                  <option value="">Residential Mould Removal</option>
                  <option value="">Commercial Mould Remediation</option>
                  <option value="">Mould Testing & Inspection</option>
                  <option value="">Water Damage Restoration</option>
                  <option value="">Preventative Maintenance</option>
                  <option value="">Other</option>
                </select>
              </li>
              <li class="fill-item">
                <div class="fill-item__description">Your Message</div>
                <textarea class="fill-item__input-box" type="text"></textarea>
              </li>
            </ul>
            <a href="a" class="btn btn--1">Send Message</a>
          </div>
        </div>
        <div class="contact">
          <div class="contact__information">
            <h3 class="heading heading--3">Contact Information</h3>
            <ul class="contact__information__list">
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-phone"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Phone</h3>
                  <p class="paragraph paragraph--2">0425 987 111</p>
                </div>
              </li>
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Email</h3>
                  <p class="paragraph paragraph--2">
                    admin&#64;mouldremediation.com.au
                  </p>
                </div>
              </li>
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Address</h3>
                  <p class="paragraph paragraph--2">We cover Australia Wide</p>
                </div>
              </li>
              <li class="contact-item">
                <div class="contact-item__icon">
                  <i class="fa-solid fa-clock"></i>
                </div>
                <div class="contact-item__text-box">
                  <h3 class="heading heading--3">Business Hours</h3>
                  <p class="paragraph paragraph--2">
                    Monday - Friday: 9:00 AM - 5:00 PM
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="contact__emergency"></div>
        </div>
      </div>
    </div>
  </div>
</div>
