.main-banner-comp {
  background-color: #f0f9ff;

  &__body {
    display: flex;
    flex-direction: row;
    padding: 10rem 0;
  }

  &__text-box {
    flex: 1;

    &__button-container {
      display: flex;
      flex-direction: row;
      gap: 1.4rem;
    }
  }

  &__img-box {
    flex: 1.1;
  }

  @media screen and (max-width: $small) {
    &__text-box {
      &__button-container {
      }
    }
    flex-direction: column;

    &__img-box {
      display: none;
    }
  }
}
