.main-banner-comp {
  background-color: #f0f9ff;
  background-image: url("/images/main-banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__body {
    display: flex;
    flex-direction: row;
    padding: 10rem 0;
  }

  &__text-box {
    flex: 1;

    &__button-container {
      display: flex;
      flex-direction: row;
      gap: 1.4rem;
    }
  }

  &__img-box {
    flex: 1.1;
  }

  @media screen and (max-width: $small) {
    &__text-box {
      text-align: center;

      &__button-container {
        justify-content: center;
      }
    }

    &__img-box {
      display: none;
    }
  }
}
