.our-services-comp {
  background-color: $white--3;
  padding: 6.4rem;

  &__text-box {
    margin-bottom: 6.4rem;
    text-align: center;
  }

  &__services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
    list-style: none;

    .service {
      border-radius: 0.8rem;
      box-shadow: 0 0.4rem 1rem 0.1rem rgba($black--1, 0.09);
      background-color: $white--1;
      overflow: hidden;
      transition: all 0.2s ease-out;

      &__img-box {
        height: 30rem;
        position: relative;

        .img {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          width: 100%;
        }
      }

      &__description {
        padding: 2.4rem;
        &__heading {
          margin-bottom: 1.2rem;
        }
      }

      &__footer {
        margin-top: 1rem;

        a {
          font-size: 1.6rem;
          font-weight: 500;
          text-decoration: none;
          color: $green--1;

          i {
            font-size: 1.2rem;
          }

          &:hover {
            color: $green--2;
          }
        }
      }

      &:hover {
        box-shadow: 0 2rem 2.5rem -0.5rem rgba($black--1, 0.13);
        transform: translateY(-0.5rem);
      }
    }

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
