<div class="our-services-comp">
  <div class="container container--1">
    <div class="our-services-comp__text-box">
      <h2 class="heading heading--2">Our Mould Removal Services</h2>
      <p class="paragraph paragraph--2">
        Comprehensive solutions tailored to your specific mould problems.
      </p>
    </div>
    <ul class="our-services-comp__services-list">
      <li class="service">
        <div class="service__logo">
          <i class="fa-solid fa-house"></i>
        </div>
        <div class="service__description">
          <div class="heading heading--3 service__description__heading">
            Residential Mould Removal
          </div>
          <div class="paragraph paragraph--2">
            Complete mould inspection and removal services for homes of all
            sizes. We identify the source and eliminate all traces of mould.
          </div>
          <div class="service__footer">
            <a href="#" class="learn-more">
              Learn more <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li class="service">
        <div class="service__logo">
          <i class="fa-solid fa-building"></i>
        </div>
        <div class="service__description">
          <div class="heading heading--3 service__description__heading">
            Commercial Mould Remediation
          </div>
          <div class="paragraph paragraph--2">
            Specialized mould removal for offices, retail spaces, and industrial
            buildings with minimal disruption to your business.
          </div>
          <div class="service__footer">
            <a href="#" class="learn-more">
              Learn more <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li class="service">
        <div class="service__logo">
          <i class="fa-solid fa-calendar"></i>
        </div>
        <div class="service__description">
          <div class="heading heading--3 service__description__heading">
            Preventative Maintenance
          </div>
          <div class="paragraph paragraph--2">
            Regular inspection and maintenance plans to prevent mould growth
            before it becomes a problem.
          </div>
          <div class="service__footer">
            <a href="#" class="learn-more">
              Learn more <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li class="service">
        <div class="service__logo">
          <i class="fa-solid fa-flask"></i>
        </div>
        <div class="service__description">
          <div class="heading heading--3 service__description__heading">
            Mould Testing & Inspection
          </div>
          <div class="paragraph paragraph--2">
            Comprehensive testing to identify mould species and determine the
            extent of contamination in your property.
          </div>
          <div class="service__footer">
            <a href="#" class="learn-more">
              Learn more <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li class="service">
        <div class="service__logo">
          <i class="fa-solid fa-water"></i>
        </div>
        <div class="service__description">
          <div class="heading heading--3 service__description__heading">
            Water Damage Restoration
          </div>
          <div class="paragraph paragraph--2">
            Quick response water damage services to prevent mould growth after
            floods, leaks, or other water incidents.
          </div>
          <div class="service__footer">
            <a href="#" class="learn-more">
              Learn more <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </li>
      <li class="service">
        <div class="service__logo">
          <i class="fa-solid fa-spider"></i>
        </div>
        <div class="service__description">
          <div class="heading heading--3 service__description__heading">
            Crawl Space & Attic Mould
          </div>
          <div class="paragraph paragraph--2">
            Specialized treatment for hard-to-reach areas where mould commonly
            grows due to poor ventilation.
          </div>
          <div class="service__footer">
            <a href="#" class="learn-more">
              Learn more <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
